### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
import os
import pandas as pd
import numpy as np


file_to_load = "Resources/purchase_data.csv"


purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
purchase_data['SN'].nunique()
purchase_data.SN.value_counts().count()

576

In [3]:
pd.DataFrame({"Total Number of Players":purchase_data.SN.value_counts().count()},index=[0])

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
purchase_data['Item ID'].nunique()
purchase_data['Price'].mean()
len(purchase_data)
purchase_data['Price'].sum()

2379.77

In [5]:
pd.DataFrame({"Number of Unique Items":purchase_data['Item ID'].nunique(),
  "Average Purchase Price":purchase_data['Price'].mean(),
 "Total Number of Purchases":len(purchase_data),
"Total Revenue":purchase_data['Price'].sum()},index=[0])

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,3.050987,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
print(purchase_data.loc[purchase_data.duplicated("SN",keep=False),:].sort_values("SN").head(10))

     Purchase ID             SN  Age  Gender  Item ID  \
218          218   Aelastirin39   23    Male       76
766          766   Aelastirin39   23    Male       58
584          584        Aelin32   20    Male      115
87            87        Aelin32   20    Male      151
52            52        Aelin32   20    Male       60
43            43        Aelly27   24    Male      116
428          428        Aelly27   24    Male       14
203          203      Aelollo59   33    Male        3
431          431      Aelollo59   33    Male      172
578          578  Aerithllora36   29  Female      153

                             Item Name  Price
218           Haunted Bronzed Bludgeon   3.15
766  Freak's Bite, Favor of Holy Might   4.14
584         Spectral Diamond Doomblade   2.04
87                           Severance   3.40
52                                Wolf   3.54
43             Renewed Skeletal Katana   4.18
428                     Possessed Core   2.61
203                       Phantomlight   2.49
431                 Blade of the Grave   3.14
578                    Mercenary Sabre   3.74

In [7]:
purchase_data = purchase_data.drop_duplicates("SN", keep='first')
len(purchase_data)

576

In [8]:
pd.DataFrame({'Percentage of players' : purchase_data['Gender'].value_counts(normalize=True),
   'Total Count' : purchase_data['Gender'].value_counts()})

                       Percentage of players  Total Count
Male                                0.840278          484
Female                              0.140625           81
Other / Non-Disclosed               0.019097           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
summary_gender_purchasing = pd.DataFrame(purchase_data.groupby('Gender').agg({'Price':[np.mean,np.sum],'Item ID':'count'}))
summary_gender_purchasing

                          Price          Item ID
                           mean      sum   count
Gender
Female                 3.165802   256.43      81
Male                   3.046901  1474.70     484
Other / Non-Disclosed  3.410909    37.52      11

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
Age = pd.DataFrame({'days': [0,31,45,60]})
Age['range'] = pd.cut(Age.days, [0,30,60,90], right=False)
Age

   days     range
0     0   [0, 30)
1    31  [30, 60)
2    45  [30, 60)
3    60  [60, 90)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
age_bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
age_labels = ['<10', '10-14', '15-19', '20-24','25-29','30-34','35-39','40+']
purchase_data['Purchase by Age'] = pd.cut(purchase_data['Age'], age_bins ,labels = age_labels,right=False)
summary_age = pd.DataFrame(purchase_data.groupby('Purchase by Age').agg({'Price':[np.mean,np.sum],'Item ID':'count'}))
summary_age

                    Price         Item ID
                     mean     sum   count
Purchase by Age
<10              3.390000   57.63      17
10-14            3.074545   67.64      22
15-19            3.101682  331.88     107
20-24            3.063527  790.39     258
25-29            2.908182  223.93      77
30-34            2.921538  151.92      52
35-39            3.510000  108.81      31
40+              3.037500   36.45      12

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
BIG_spenders = pd.DataFrame(purchase_data.groupby(['SN']).agg({'Price':[np.mean,np.sum],'Item ID':'count'}))
BIG_spenders.sort_values(('Price','sum'),ascending=False)[:5]

               Price       Item ID
                mean   sum   count
SN
Dyally87        4.99  4.99       1
Hiasri33        4.99  4.99       1
Chanirrasta87   4.94  4.94       1
Yarithsurgue62  4.94  4.94       1
Lirtilsa71      4.94  4.94       1

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [22]:
Popular_items = pd.DataFrame(purchase_data.groupby(['Item ID','Item Name']).agg({'Price':[np.mean,np.sum],'Item ID':'count'}))
Popular_items.sort_values(('Item ID','count'),ascending=False)[0:5]

                                                     Price        Item ID
                                                      mean    sum   count
Item ID Item Name
178     Oathbreaker, Last Hope of the Breaking Storm  4.23  46.53      11
37      Shadow Strike, Glory of Ending Hope           3.16  25.28       8
145     Fiery Glass Crusader                          4.58  32.06       7
82      Nirvana                                       4.90  34.30       7
7       Thorn, Satchel of Dark Souls                  1.33   9.31       7

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [23]:
Profitable_items = pd.DataFrame(purchase_data.groupby(['Item ID','Item Name']).agg({'Price':[np.mean,np.sum],'Item ID':'count'}))
Profitable_items.sort_values(('Price','sum'),ascending=False)[0:5]

                                                     Price        Item ID
                                                      mean    sum   count
Item ID Item Name
178     Oathbreaker, Last Hope of the Breaking Storm  4.23  46.53      11
82      Nirvana                                       4.90  34.30       7
145     Fiery Glass Crusader                          4.58  32.06       7
59      Lightning, Etcher of the King                 4.23  25.38       6
37      Shadow Strike, Glory of Ending Hope           3.16  25.28       8